{% extends 'index.html'%}
{% load markup %}

{% block meta %}
<title>MK.MK.UA - {{report.title}}</title>
<meta name="keywords" content="{{report.tags}}" />
<meta name="description" content="{{report.title}}" />
{% endblock %}

{% block content %}
<td id="content_block_left">
    <div class="main_news">
        <h1>{{report.title}}</h1>
        <div class="main_news">
			<p class="image"><a title="открыть в новом окне" href="javascript:void(0);" onclick="window.open('/photo/report/{{report.id}}/','{{report.id}}','width={{report.photo.width}},height={{report.photo.height}}');"><img src="{{report.thumb_big.url}}" align="left" alt="{{report.title}}" /></a></p>
			<div class="text">
            	<p><span class="date">{{report.pub_date|date:"d.m H:i"}}</span></p>
            	<p class="news_text">{{report.text|markdown}}</p>
            </div>
        </div>
        {% for photo in report.photos.all %}
        <div class="main_news photoreportag">
			<p class="image"><a title="открыть в новом окне" href="javascript:void(0);" onclick="window.open('/photo/report/image/{{photo.id}}/','{{photo.id}}','width={{photo.photo.width}},height={{photo.photo.height}}');"><img src="{{photo.thumb_big.url}}" align="left" /></a></p>
			<div class="text">
            	<p class="news_text">{{photo.text}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if tagged|length %}
    <h3>Похожие новости</h3>
    <div class="main_news">
        <div class="razdel_links_main">
            {% for item in tagged|dictsortreversed:"pub_date" %}
            <p class="razdel"><span class="date">{{item.pub_date|date:"d.m H:i"}}</span>
            {% if item.bold_title %}
            <strong><b><a href="{{item.get_absolute_url}}">{{item.title}}</a></b></strong>
            {% else %}
            <strong><a href="{{item.get_absolute_url}}">{{item.title}}</a></strong>
            {% endif %}
            </p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if report.comment_count %}
    <h3>Коментарии</h3>
    <div class="main_news">
        {% for comment in report.comments.all %}
        {% if comment.email %}
        <p class="user_comment"><strong><a href="mailto:{{comment.email}}">[{{comment.pub_date|date:"d.m H.i"}}] {{comment.user_name}}</a></strong><br/>{{comment.text}}</p>
        {% else%}
        <p class="user_comment"><strong>[{{comment.pub_date|date:"d.m H.i"}}] {{comment.user_name}}</strong><br/>{{comment.text}}</p>
        {% endif%}
        {% endfor %}
    </div>
    {% endif %}

    <h3>Выскажите свое мнение</h3>

    <form action="" method="POST">
        <table id="send_comment">
            <tr>
                <td></td>
                <td>{{form.user_name.errors}}</td>
            </tr>
            <tr>
                <td class="td_name">{{form.user_name.label}}</td>
                <td class="input_name" width="100%" colspan="2">{{form.user_name}}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{form.email.errors}}</td>
            </tr>
            <tr>
                <td class="td_name">{{form.email.label}}</td>
                <td class="input_name" width="100%" colspan="2">{{form.email}}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{form.text.errors}}</td>
            </tr>
            <tr>
                <td class="td_name">{{form.text.label}}</td>
                <td class="textarea_comment" width="100%" colspan="2">{{form.text}}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{form.captcha.errors}}</td>
            </tr>
            <tr>
                <td class="td_name">{{form.captcha.label}}</td>
                <td class="input_code" width="100%">{{form.captcha}}</td>
            </tr>
            <tr>
                <td class="td_name"><img src="/static/images/spacer.gif" alt="" /></td>
                <td width="100%" colspan="2"><input class="button_comment" name="send" type="submit" value="Отправить" /></td>
            </tr>
        </table>
    </form>
</td>
{% endblock %}
