{% extends 'index.html'%}

{% block content %}
<td id="content_block_left">
	<h1>Контакты</h1>
	<p class="contacts">Редактор – Вячеслав Иванович Чиченин<br>
	тел.: +380(98)716-40-90<br />
	E-mail: <a href="mailto:mkmkua@yandex.ru"><strong>mkmkua@yandex.ru</strong></a>,
		<a href="mailto:nzn@mksat.net"><strong>nzn@mksat.net</strong></a><br /><br />

	<strong>Или заполните форму:</strong></p>
<!--	<h1>Поддержка сайта</h1>
	<p class="contacts"><a href="mailto:kontakt.mk@gmail.com">kontakt.mk@gmail.com</a><br/><a href="mailto:mk_katalog@bigmir.net">mk_katalog@bigmir.net</a></p>
 -->
    <!--<h3>Отправить сообщение в редакцию</h3> -->
    <form action="." method="POST">
    <table id="send_comment">
        {% if sended %}
    	<tr>
     		<td></td>
     		<td><strong>Сообщение отправлено</strong><br><br></td>
        </tr>
        {% endif %}    
    	<tr>
     		<td></td>
     		<td>{{form.name.errors}}</td>
        </tr>
        <tr>
            <td class="td_name">Имя</td>
            <td class="input_name" width="100%">{{form.name}}</td>
        </tr>
        <tr>
     		<td></td>
     		<td>{{form.email.errors}}</td>
        </tr>
        <tr>
            <td class="td_name">Email</td>
            <td class="input_name" width="100%">{{form.email}}</td>
        </tr>
        <tr>
     		<td></td>
     		<td>{{form.text.errors}}</td>
        </tr>
        <tr>
            <td class="td_name">Сообщение</td>
            <td class="textarea_comment" width="100%">{{form.text}}</td>
        </tr>
        <tr>
     		<td></td>
     		<td>{{form.captcha.errors}}</td>
        </tr>
        <tr>
            <td class="td_name">Код</td>
            <td class="input_code" width="100%">{{form.captcha}}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"><input class="button_comment" name="send" type="submit" value="Отправить" /></td>
        </tr>
    </table>
    </form>
</td>
{% endblock %}